body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

li {
    list-style-type: none;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 3em 10em 2em 10em;
}

.top-container {
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
    border: 1px solid #45D12E;
    box-shadow: 0.7em 0.7em lightblue;
}

.top-wraper {
    flex-wrap: wrap;
    text-align: center;
}

.top-wraper h2 {
    font-size: 3em;
    margin: 1em 0 0.5em 0;
    text-shadow: -0.1em 0.02em green;
    background: -webkit-linear-gradient(45deg, #6ADA58, #45D12E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrap-content {
    display: flex;
    width: 100%;
}

.top-wraper img {
    width: 100%;
}

button {
    background-color: white;
    color: #45D12E;
    border: 1px solid #45D12E;
    border-radius: 0.5em;
    padding: 0 15px;
    cursor: pointer;
    height: 3em;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
}

button:hover {
    box-shadow: 2px 2px #6ADA58, 4px 4px #6ADA58, 5px 5px#6ADA58;
    transform: translateX(-6px);
}

@media screen and (max-width: 1600px) {
    .top-wraper img {
        width: 70%;
    }
}
@media screen and (max-width: 1080px) {
    .top-wraper h2 {
        font-size: 2.5em;
    }
    .top-wraper img {
        width: 70%;
    }
    button {
        height: 2.5em;
        font-size: 1.1em;
    }
}
@media screen and (max-width: 888px) {
    .top-wraper h2 {
        font-size: 2.2em;
    }
    .top-wraper img {
        width: 60%;
    }
}
@media screen and (max-width: 736px) {
    .top-wraper h2 {
        font-size: 2em;
    }
    .top-wraper img {
        width: 100%;
    }
    button {
        height: 2.5em;
        font-size: 1.1em;
        margin: 0.5em;
        transition: all 0.2s ease-in-out;
    }
    .wrap-content {
        display: block;
    }
    ul {
        flex-direction: column;
    }
}
@media screen and (max-width: 666px) {
    .main-content {
        padding: 2em 5em 0 5em;
    }
}
@media screen and (max-width: 505px) {
    .main-content {
        padding: 2em 2em 0 2em;
    }
}
@media screen and (max-width: 404px) {
    button {
        height: 2.3em;
        font-size: 0.8em;
        transition: all 0.2s ease-in-out;
    }
}