<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

var dataPoints = [];

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "List of Artist Fans"
	},
	axisY: {
		title: "Number of Fans",
		titleFontSize: 24,
		includeZero: true
	},
    axisX: {
		title: "Artists",
		titleFontSize: 24
	},
	data: [{
		type: "column",
		yValueFormatString: "People Units",
		dataPoints: dataPoints
	}]
});

function addData(data) {
    console.log(Object.keys(data)[1])
	for (var i = 0; i < 10; i++) {
		dataPoints.push({
			label: String(Object.keys(data)[i]),
			y: parseInt(Object.values(data)[i])
		});
	}
	chart.render();

}

console.log(dataPoints)

$.getJSON("http://localhost:5001/artists/fans", (data) => {addData(data), console.log(data)});

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>