<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Music Reporter</title>
</head>
<body>
    <div class="main-content">
        <div class="top-container">
            <div class="top-wraper">
                <h2>Music Data Reporter</h2>
                <div class="wrap-content">
                    <img src="../static/img/main_page_vector.png" alt="sad" />
                    <ul>
                        <li><a href="../templates/list_of_fan.html"><button>Number of Fan</button></a></li>
                        <li><a href="../templates/swaggerui.html"><button>Swagger test</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>