<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Music Reporter</title>
</head>
<body>
    <div class="main-content">
        <div class="top-container">
            <div class="top-wraper">
                <h2>Music Data Reporter</h2>
                <img src="sad" alt="sad" />
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae minus laudantium dignissimos inventore dolorum neque sunt animi fugiat natus aspernatur doloribus, ad blanditiis eaque cupiditate quae, alias facilis corrupti minima.</span>
            </div>
        </div>
    </div>
    
</body>
</html>